/* Owner.css */

.custom-table {
    border-collapse: separate;
    border-spacing: 0 10px; /* Đặt khoảng cách giữa các hàng và cột */
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid #ddd; /* Đặt viền cho mỗi ô */
    padding: 8px; /* Đặt padding cho mỗi ô */
  }
  